<div class="panel panel-info">
    <div class="panel-heading">查看购物车<a href="#/productList">返回商品列表</a></div>
    <div class="panel-body">
        <p class="well" ng-show="cart.length==0">
            您的购物车中还没有商品。快去<a href="#/productList">买</a>哦!
        </p>

        <table class="table table-striped" ng-show="cart.length>0">
            <thead>
            <tr>
                <th>#</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>购买数量</th>
                <th>小计</th>
                <th>预览</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--使用自定义过滤器:指定过滤器名称和参数. limitTo-->
            <tr ng-repeat="item in cart">
                <td>{{$index + 1}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price | currency:"￥"}}</td>
                <td>{{item.number}}</td>
                <td>{{item.number * item.product.price | currency:"￥"}}</td>
                <td><img ng-src="{{item.product.s_pic}}"/></td>
                <td>
                    <button class="btn btn-link" ng-click="remove(item.product.name)">删除</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>总计:</th>
                <th></th>
                <th>{{count()}}</th>
                <th>{{money() | currency:"￥"}}</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>